<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter your Login Details </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
             <p>{{msg}}</p> 
            {% endfor %}  
        {% endif %}
    {% endwith %}
<br>
    <form action="" method="post"> 
        <input type="text" name="usr_name" id="name" placeholder="user_name">
        <input type="submit" value="submit">
    </form>
</body>
</html> 