<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get</title>
</head>
<body>
    <h1>Sessiomn</h1>
    <form action="/login" method="get">
        <input type="text" name="name" id="">
        <input type="email" name="email" id="">
        <input type="submit" value="SUBMIT">
    </form>
    <p>
       Name =  {{ Name }} <br>
        Email = {{ Email }}
    </p>
</body>
</html>