<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert" method="post">
        <input type="text" required name="emp_id" id="" placeholder="emp_id">
        <input type="text" required name="emp_name" id="" placeholder="emp_name">
        <input type="number" required name="age" id="" placeholder="age">
        <input type="text" required name="city" id="" placeholder="city">
        <input type="submit" value="SUBMIT">

    </form>
</body>
</html>