<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update_territory" method="post">
        <input type="text" name="territory_description" id="" placeholder="territory_description">
        <input type="number" name="region_id" id="" placeholder="region_id">
        <input type="number" name="territory_id" id="" placeholder="territory_id">
        <input type="submit" value="update_territory">
    </form>
</body>
</html>