<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div><h3>Region INSERT</h3><a href="{{ url_for('region') }}">Click here !</a></div><br>
        <div><h3> Territory INSERT</h3><a href="{{ url_for('territory') }}">Click here !</a></div><br>
        <div><h3>UPDATE_Territory</h3><a href="{{ url_for('update') }}">Click here ! </a></div>
    </main>
</body>
</html>