<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1>Sessiomn</h1>
    <p></p>
        Name =  {{ Name }} <br>
         Email = {{ Email }}
     </p>
    <form action="/password" method="post">
        <input type="password" required name="password" id="" placeholder="password">
        <input type="submit" value="SUBMIT" >
    </form>
</body>
</html>